@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 27, 27, 27;
	--background-end-rgb: 32, 32, 32;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 198, 198, 198;
		--background-end-rgb: 198, 198, 198;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
